.login-container {
  background-color: var(--light-black);
  height: 100%;
}
.login-container-content {
  background-color: var(--white);
}
.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
