.shop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--xlarge);
}
.header-images {
  display: flex;
  justify-content: space-between;
}
.footer-component {
  background: #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
